<div style="text-align:center" fxLayout="column" fxFlex="100%" >
    <div fxLayout="column" fxLayoutAlign="center">
    <div><h1>Étudiants</h1></div>
    <nav fxLayout="row" 
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="stretch" 
   >
        <div fxFlex="auto" fxFlex.lt-md="100%" ><a routerLink="/studentForm" routerLinkActive="router-link-active"> Ajouter un étudiants</a></div>
        <div fxFlex="auto" fxFlex.lt-md="100%" ><a routerLink="/students" routerLinkActive="router-link-active"> Liste des étudiants</a> </div>
    </nav>
    </div>
<div class="contenu"><router-outlet></router-outlet></div>
</div>


