table {
  width: 90%;
}
table td {
  border-bottom: 0.5px solid black;
}
table th {
  border-bottom: 0.5px solid black;
}
table th {
  text-align: center;
}
#gauche {
  border-left: 0.5px solid black;
}
#droite {
  border-right: 0.5px solid black;
}
.mat-column-select {
  overflow: initial;
}
